.header{
    position: fixed;
    right: 10px;
    top: 10px;
    .menu{
        width: 384;
        height: 520px;
        background-color:#2d292f;
        background-image: url(./use.jpg);
        
        border-radius: 10px;
        position: relative;
    }
    
}